body{
    background-color: black;
}
#wrapper {
  position: relative;
}

#ball {
  background-color: red;
  border-radius: 50%;
  border: 10px solid green;
  width: 100px;
  height: 100px;
  position: absolute;
}